{{!-- <h2>Funcionarios</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>CPF</th>
        <th>TELEFONE</th>
        <th>SALARIO</th>
        <th>STATUS</th>
    </tr>

    {{#each data}}
    <tr>
        <td>{{ID}}</td>
        <td>{{NOME}}</td>
        <td>{{CPF}}</td>
        <td>{{TELEFONE}}</td>
        <td>R$ {{SALARIO}}</td>
        {{#if STATUS}}
        <td style="background-color: greenyellow;">👍</td>
        {{else}}
        <td style="background-color: red;">👎</td>
        {{/if}}
    </tr>
    {{/each}}

</table>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style> --}}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Data Nasc.</th>
            <th scope="col">Salário</th>
            <th scope="col">Status </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{ID}}</td>
            <td>{{NOME}}</td>
            <td>{{TELEFONE}}</td>
            <td>{{DATA_NSC}}</td>
            <td>R$ {{SALARIO}}</td>
            {{#if STATUS}}
            <td>👍</td>
            {{else}}
            <td>👎</td>
            {{/if}}
        </tr>
        {{/each}}

    </tbody>
</table>